<!DOCTYPE html>
<html>
    <head>
        <title>Website Page Title</title>
    </head>

    <body onload="myFunction()">
    <meta charset = "UTF-8">
    <div>
        <img src="img/logoWMC.jpg" alt="una imagen" title="WMC imagen_01"><br>
    </div>

    <b><p id="título">título blog</p></b>

    <script>
    document.getElementById("título").innerHTML="WeMan Connect";
    document.getElementById("result").value="WeMan Connect";
    </script>
    
    <bloquequote>Entrada de noticias</bloquequote><hr>
    <time>Aquí va la hora y fecha</time>
    <div>
        <img src="" alt="una imagen" title="WMC imagen_01"><br>
    </div>

    <bloquequote>Entrada de noticias</bloquequote><hr>
    <time>Aquí va la hora y fecha</time>
    <div>
        <img src="" alt="una imagen" title="WMC imagen_01"><br>
    </div>

    <bloquequote>Entrada de noticias</bloquequote><hr>
    <time>Aquí va la hora y fecha</time>
    <div>
        <img src="" alt="una imagen" title="WMC imagen_01"><br>
    </div>

    </body>

</html>


<!--https://www.figma.com/
https://pencil.evolus.vn/-->