<!DOCTYPE html>
<html>

<head>
    <title>Website Page Title</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <meta charset="UTF-8">
    <header>
        <img id="logo" src="img/logoWMC.jpg" alt="una imagen" title="WMC imagen_01"><br>
        <h1 id="título">WeManConnect</h1>

        <botton>
            <div id="icons" class="icons_tools">
                <i class="material-icons">share</i>
                <i class="material-icons">mood</i>
                <i class="material-icons">thumb_up_alt</i>
                <i class="material-icons">home</i>

            </div>
        </botton>



    </header>
    <hr>

    
    <section>
        <div>
            <bloquequote>Entrada de noticias</bloquequote>
            <time>00:00 22/05/2019</time>
            <bloquequote>Autor del post</bloquequote>
            <div>
                <img src="C:\Users\wemenconnect\Documents\weman_4_blog\views\img\all.jpg" alt="una imagen" title="group"
                    width="50px" , height="50px"><br>
            </div>
        </div>
        <hr>

        <div>
            <bloquequote>Entrada de noticias</bloquequote>
            <time>00:00 22/05/2019</time>
            <bloquequote>Autor del post</bloquequote>
            <div>
                <img src="C:\Users\wemenconnect\Documents\weman_4_blog\views\img\cdmx.jpg" alt="una imagen" title="group"
                    width="50px" , height="50px"><br>
            </div>
        </div>
        <hr>

        <div>
            <bloquequote>Entrada de noticias</bloquequote>
            <time>00:00 22/05/2019</time>
            <bloquequote>Autor del post</bloquequote>
            <div>
                <img src="C:\Users\wemenconnect\Documents\weman_4_blog\views\img\gdl.jpg" alt="una imagen" title="group"
                    width="50px" , height="50px"><br>
            </div>
        </div>
        <hr>

    </section>


</body>

</html>


<!--https://www.figma.com/
https://pencil.evolus.vn/-->